# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Javascript/Node
node_modules/
dist/
.DS_Store

# IDEs
.vscode/
.idea/

# Local data & temporary files
uploaded_files/
*.log
*.zip
test_groq_direct.py
